  
  .trapeze {
    position: fixed;
    top: 150px;
    left: 50px;
    height: 70%; 
    width: 20%; 
    background-color: transparent;
  }
  

  @media screen and (max-width: 600px) {
    .trapeze::before {
      border-right-width: 50px;
      border-left-width: 25px;
    }
  }
  